* {
    background-color: #262626;
    color: #bcb4b4;
    font-family: 'Roboto Mono';
}

body {
    line-height: 1.6;
}


/* NAVIGATION BAR */
.navbar {
    margin-bottom: 10px;
    text-align: center;
}

.navListbar {
    display: flex;
    padding: 0;
    justify-content: center;
}

.navList {
    list-style: none;
    padding: 5px;
}

.navList a {
    padding: 15px;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.navList a:hover {
    background-color: #161815;
    border-radius: 8px;
    color: rgb(212, 212, 212);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}


/* FIRST PAGE OF HOME */
.page1 {
    margin-top: 15%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
}

.page1 span {
    color: white;
    font-size: 20px;
    top: -10%;
    right: 44%;
    position: absolute;
}

.page1 h5 {
    color: white;
    position: absolute;
    top: -23%;
    right: 35%;
    font-size: 70px;
    background: none;
}


.me {
    position: absolute;
    bottom: 230px;
    right: 470px;
    background: none;
    color: white;
}

.btn-work {
    text-decoration: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    bottom: 22%;
    left: 46%;
    padding: 10px;
    font-size: 20px;
    background-color: #bcb4b4;
    color: #161815;
}

.btn-work:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    bottom: 22%;
    left: 46%;
    padding: 10px;
    font-size: 20px;
    background-color: #9f9595;
    color: #000000;
}


/* SECOND PAGE OF HOME */
.page2 {
    /* height: 85vh; */
    padding-top: 80px;
    margin-bottom: 80px;
}

.written-info {
    width: 750px;
    margin: 10%;
}

p {
    font-size: 25px;
    margin: 0;
}

.page2 span {
    font-size: 20px;
}

.written-info h1 {
    font-size: 50px;
    margin-top: 0px;
}


.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: #bcb4b4;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #bcb4b4;
}

.btn-1 {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #bcb4b4;
}


/* THRIED PAGE OF HOME */
.page3 {
    text-align: center;
    /* height: 60vh; */
}

.page3 h1 {
    font-size: 50px;
}

.heading3 {
    margin-bottom: 120px;
}

.container3 {
    text-align: center;
    display: flex;
    margin: 0px 5%;
    justify-content: space-between;
    align-items: center;
}

.skill-card {
    width: 33%;
}

.skill-img {
    border-radius: 100%;
    /* border: 2px solid black; */
}



/* FOURTH PAGE OF HOME */
.page4 {
    margin-top: 140px;
    margin-bottom: 8%;
    /* height: 90vh; */
}

.page4 p {
    text-align: center;
}

.page4 h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-bottom: 5%;
}

.container4 {
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center align cards */
    overflow: hidden;
    padding: 20px;
    border-radius: 30px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container4 {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
        /* Center items horizontally */
    }
}

.card {
    height: auto;
    padding: 5px;
    width: 90%;
    /* Adjust width for smaller screens */
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .container4 {
        justify-content: space-evenly;
        /* Revert to space-evenly for larger screens */
    }
}


.img-proj {
    height: 65%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(78, 78, 78);
}

.title-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #161815;
}

.title-box h2,
span {
    background: none;
}

.btn-4 {
    padding: 10px;
    margin: 5px;
    margin-bottom: 2%;
}

.newbtn {
    text-align: right;
    margin-right: 12%;
}


/* FIFTH PAGE-CONTACT PAGE */
.page5 {
    margin-top: 100px;
}

.page5 h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px;
}

.center {
    text-align: center;
}

.detail-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-detail p {
    display: flex;
    align-items: center;
    background: #1c1c1c;
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}

.bi {
    margin: 25px;
    padding: 10px;
    background-color: #161815;
    border-radius: 20px;
}

.contact-me {
    width: 35%;
}

.contact-me label {
    font-size: 20px;
}

.text-box {
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    border: 0;
    background: #1c1c1c;
    border-radius: 10px;
}

.msg {
    cursor: pointer;
    font-size: 15px;
    padding: 15px 20px;
    background-color: #bcb4b4;
    color: #000000;
    border: 0;
    border-radius: 10px;
}



/* ABOUT Page */
.about {
    margin: 0 180px;
}

.about-page {
    margin-top: 200px;
    display: flex;
    margin-bottom: 10%;
}

.about-info {
    /* height: 70vh; */
    /* overflow: hidden; */
}

.about-info p {
    font-size: 20px;
    width: 90%;
}

@media (max-width: 720px) {
    .about-info {
        height: 30vh;
        /* Remove fixed height on smaller screens */
    }
}


/* Education Card */
.cardprop {
    margin-bottom: 70px;
}

.cardprop h1 {
    font-size: 40px;
}

.edu-card {
    display: flex;
    padding: 10px 0;
}


.std {
    width: 20%;
    font-size: 20px;
}

.school {
    width: 60%;
    padding: 5px;
    font-size: 20px;
    background: none;
    background-color: #161815;
    border-radius: 20px;
    text-align: center;
}

.grade {
    width: 15%;
    text-align: center;
    font-size: 20px;
}