* {
    background-color: #262626;
    color: #bcb4b4;
    font-family: 'Roboto Mono';
}


/* NAVIGATION BAR */
.navbar {
    margin-bottom: 10px;
    text-align: center;
}

.navListbar {
    display: flex;
    padding: 0PX;
    justify-content: center;
}

.navList {
    list-style: none;
    padding: 5px;
}

.navList a {
    padding: 15px;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.navList a:hover {
    background-color: #161815;
    border-radius: 8px;
    color: rgb(212, 212, 212);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}


/* FIRST PAGE OF HOME */
.page1 {
    margin-top: 15%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
}

.page1 span {
    color: white;
    font-size: 20px;
    top: -10%;
    right: 44%;
    position: absolute;
}

.page1 h5 {
    color: white;
    position: absolute;
    top: -23%;
    right: 35%;
    font-size: 70px;
    background: none;
}


.me {
    position: absolute;
    bottom: 29%;
    right: 31%;
    background: none;
    color: white;
}

.btn-work {
    text-decoration: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    bottom: 22%;
    left: 46%;
    padding: 10px;
    font-size: 20px;
    background-color: #bcb4b4;
    color: #161815;
}

.btn-work:hover {
    text-decoration: none;
    border: none;
    position: absolute;
    border-radius: 10px;
    bottom: 22%;
    left: 46%;
    padding: 10px;
    font-size: 20px;
    background-color: #9f9595;
    color: #000000;
}


/* SECOND PAGE OF HOME */
.page2 {
    height: 85vh;
    margin-bottom: 5%;
}

.written-info {
    width: 40%;
    margin: 10%;
}

p {
    font-size: 25px;
    margin: 0;
}

.page2 span {
    font-size: 20px;
}

.written-info h1 {
    font-size: 50px;
    margin-top: 0px;
}


.container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: #bcb4b4;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #bcb4b4;
}

.btn-1 {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #bcb4b4;
}


/* THRIED PAGE OF HOME */
.page3 {
    text-align: center;
    height: 60vh;
}

.page3 h1 {
    font-size: 50px;
}

.heading3 {
    margin-bottom: 8%;
}

.container3 {
    text-align: center;
    display: flex;
    margin: 0px 5%;
}

.skill-card {
    width: 33%;
}




/* FOURTH PAGE OF HOME */
.page4 {
    margin-top: 8%;
    margin-bottom: 8%;
    /* height: 90vh; */
}

.page4 p {
    text-align: center;
}

.page4 h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-bottom: 5%;
}

.container4 {
    margin: 0px 5%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 20px;
    /* border: 2px solid rgba(245, 245, 245, 0.314); */
    /* background-color: rgba(245, 245, 245, 0.016); */
    border-radius: 30px;
}

.card {
    height: 65vh;
    padding: 5px;
    width: 25%;
    border-radius: 10px;
    background: none;
}

.img-proj {
    height: 65%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(78, 78, 78);
}

.title-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #161815;
}

.title-box h2,
span {
    background: none;
}

.btn-4 {
    padding: 10px;
    margin: 5px;
    margin-bottom: 2%;
}

.newbtn {
    text-align: right;
    margin-right: 12%;
}



/* ABOUT Page */
.about {
    margin: 0 180px;
}

.about-page {
    margin-top: 200px;
    display: flex;
    margin-bottom: 10%;
}

.about-info {
    height: 70vh;
    overflow: hidden;
}

.about-info p {
    font-size: 20px;
    width: 85%;
}

/* Education Card */
.cardprop {
    margin-bottom: 70px;
}

.cardprop h1 {
    font-size: 40px;
}

.edu-card {
    display: flex;
    padding: 10px 0;
}


.std {
    width: 20%;
    font-size: 20px;
}

.school {
    width: 60%;
    padding: 5px;
    font-size: 20px;
    background: none;
    background-color: #161815;
    border-radius: 20px;
    text-align: center;
}

.grade {
    width: 15%;
    text-align: center;
    font-size: 20px;
}